<form>
    <div class="row mb-3">
        <label class="form-label">Full name
            <input type="text" required class="form-control">
        </label>
    </div>
    <div class="row mb-3">
        <label class="form-label">Email
            <input type="email" required class="form-control">
        </label>
    </div>

    <div class="row mb-3">
        <label class="form-label">Phone
            <input type="tel" required class="form-control">
        </label>
    </div>

    <div class="row mb-3">
        <label class=" form-label" for="index">Index</label>
        <div class="input-group">
            <input type="text" required class="form-control" id="index">
            <button class="btn btn-outline-secondary" type="button">Auto fill</button>
        </div>
    </div>
    
    <div class="row mb-3">
        <label class="form-label">Prefecture
            <input type="text" required class="form-control">
        </label>
    </div>

    <div class="row mb-3">
        <label class="form-label">Address
            <input type="text" required class="form-control">
        </label>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>